**INTRODUCTION ** -
--------------

[DAY 72 lesson]

**Overview of this lesson and the rest of this course.**

What is data science?

Using data to understand and advise?

I'm sure all of you are looking at careers - so let's take a look at some university degrees and then understand what the career prospects and salaries are:

-
-
**Key concepts**

A Notebook - what is it and why do we use it?

MEDIAN - what doe sthis mean?
MEAN?

A Data Frame? - some of you from Nav's Python 4 class from last term will know this!

Pandas - what is this?

   
    

--------------------
--------------------
**PROJECT OVERVIEW**
No need to write this - only an explanation for the teacher.

This data is very USA focused but there will be a lot of commonality with Europe too!

University degrees are very expensive. But, do they pay you back? Choosing Philosophy or International Relations as a major may have worried your parents, but does the data back up their fears? PayScale Inc. did a year-long survey of 1.2 million Americans with only a bachelor's degree. We'll be digging into this data and use Pandas to answer these questions:



Which degrees have the highest starting salaries?

Which majors have the lowest earnings after college?

Which degrees have the highest earning potential?

What are the lowest risk college majors from an earnings standpoint?

Do business, STEM (Science, Technology, Engineering, Mathematics) or HASS (Humanities, Arts, Social Science) degrees earn more on average?

--------------------------
--------------------------

Download the salaries_by_college_major.csv file from the course resources and add this file to the notebook by dropping it into the sidebar with the little folder icon.

You can also select the file and copy its path and paste into here

In [2]:
import pandas as pd
df = pd.read_csv('/content/salaries_by_college_major.csv')

Now take a look at the Pandas dataframe we've just created with .head(). This will show us the first 5 rows of our dataframe.

In [ ]:
df.head()

**Preliminary Data Exploration and Data Cleaning with Pandas**
Now that we've got our data loaded into our dataframe, we need to take a closer look at it to help us understand what it is we are working with. This is always the first step with any data science project. Let's see if we can answer the following questions:



How many rows does our dataframe have?

How many columns does it have?

What are the labels for the columns? Do the columns have names?

Are there any missing values in our dataframe? Does our dataframe contain any bad data?

We've already used the .head() method to peek at the top 5 rows of our dataframe. To see the number of rows and columns we can use the shape attribute:

In [ ]:
# Show us the structure of the data whiuch has 51 rows and 6 columns
df.shape

In [ ]:
# We saw that each column had a name.
# We can access the column names directly with the columns attribute.
df.columns


**Missing Values and Junk Data**

Before we can proceed with our analysis we should try and figure out if there are any missing or junk data in our dataframe. That way we can avoid problems later on. In this case, we're going to look for NaN (Not A Number) values in our dataframe. NAN values are blank cells or cells that contain strings instead of numbers. Use the .isna() method and see if you can spot if *there*'s a problem somewhere.

In [ ]:
df.isna()

In [9]:
# Did you find anything? Check the last couple of rows in the dataframe
df.tail()

# Aha! We have a row that contains some information regarding the
# source of the data with blank values for all the other other columns.

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN


**Delete the Last Row**
We don't want this row in our dataframe. There's two ways you can go about removing this row. The first way is to manually remove the row at index 50.

The second way is to simply use the .dropna() method from pandas. Let's create a new dataframe without the last row and examine the last 5 rows to make sure we removed the last row:

In [ ]:
# Delete the not a number rows
clean_df = df.dropna()

# Let's see if that's worked!
clean_df.tail()

**Accessing Columns and Individual Cells in a Dataframe**

*Find College Degrees with Highest Starting Salaries*

To access a particular column from a data frame we can use the square bracket notation, like so:

clean_df['Starting Median Salary']
You should see all the values printed out below the cell for just this column:

In [ ]:
clean_df['Starting Median Salary']

# TASK
# Can you try accessing other columns of the data frame? - GO AHEAD!

In [14]:
# To find the highest starting salary we can simply chain the .max() method.

clean_df['Starting Median Salary'].max()

74300.0

The highest starting salary is $74,300. But which college major earns this much on average? For this, we need to know the row number or index so that we can look up the name of the major. Lucky for us, the .idxmax() method will give us index for the row with the largest value.

In [15]:
# This will return the row index

clean_df['Starting Median Salary'].idxmax()

# It should return row index 43

43

To see the name of the major that corresponds to that particular row, we can use the .loc (location) property.

In [17]:
clean_df['Undergraduate Major'].loc[43]

# Are your surprised with the result? :)


# TASK
# See if you can find any other interesting columns for row 43?

'Physician Assistant'

If you don't specify a particular column you can use the .loc property to retrieve an entire row:

In [18]:
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

**CHALLENGE**
Potential homework assignments

* Now that we've found the major with the highest starting salary, can you write the code to find the following:

* What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

* Which college major has the lowest starting salary and how much do graduates earn after university?

* Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [19]:
## SOLUTIONS

# The Highest Mid-Career Salary

print(clean_df['Mid-Career Median Salary'].max())
print(f"Index for the max mid career salary: {clean_df['Mid-Career Median Salary'].idxmax()}")
clean_df['Undergraduate Major'][8]

107000.0
Index for the max mid career salary: 8

'Chemical Engineering'

In [20]:
## SOLUTIONS

# The Lowest STARTING Career Salary

print(clean_df['Starting Median Salary'].min())
clean_df['Undergraduate Major'].loc[clean_df['Starting Median Salary'].idxmin()]

34000.0

'Spanish'

In [21]:
## SOLUTIONS

# Unfortunately education is the defree with lowest mid-career salary :((
# What do you think about this?
# Is money everything?
# If you were advising Rishi Sunak what would you tell him?

clean_df.loc[clean_df['Mid-Career Median Salary'].idxmin()]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object